<!DOCTYPE html>
<html lang = "en" >
<head>
    <link rel="stylesheet" href="curriculum.css">
    <title>Our Curriculum</title>
</head>
<body>
<div class="curriculumBackground">
    <div id="image">
        <div class="logo-image">
            <img src="images/cloudsleft.jpg" alt="clouds" />
        </div>
        <div class="logo-image">
            <img src="images/rainbow.jpg" alt="rainbow" />
        </div>
        <div class="logo-image">
            <img src="images/cloudsright.jpg" alt="clouds" />
        </div>
    </div>
    <div class="logo-text curriculumTitle">
        <b>Our Curriculum</b>
    </div>
</div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/curriculum"><b>Curriculum</b></a></li>

    <li><a href="/register">Register</a></li>
    <li class="topNavLi">
        <form class="logo-text" method="POST" action="/getUser">
            Username:
            <input type="text" name="username" />
            Password:
            <input type="text" name="password" />
            <input class="loginButton" type="submit" value="Login" />
        </form>
    </li>

</ul>
<div class="logo-text curriculumOutBorder">
    <div class="logo-image curriculumInBorder">
        <h2>First Year Program</h2>
        <div class="logo-image">
            <img src="images/children.png" alt="Children" />
        </div>
        <p class="logo-text">
            In the First Year Program, three year olds are encouraged to explore basic concepts such as numbers,
            colors, shapes, and letter recognition. Preparing them for our second year program. Age appropriate,
            fun filled activities and crafts set the foundation upon which your child can build a world of knowledge.
        </p>
    </div>
    <div class="logo-image dividerHorizontal"></div>
    <div class="logo-image curriculumInBorder">
        <h2>Second Year Pre-K Program</h2>
        <div class="logo-image">
            <img src="images/children.png" alt="Children" />
        </div>
        <p class="logo-text">
            In the Second Year Pre-K Program, four year olds will have the opportunity to learn to read, write,
            and complete all the necessary skills to ensure an easier transition to kindergarten.
            Preparing them well to meet the growing requirements of elementary school.
            This program will help children learn letters of the alphabet, phonics, beginning number concepts,
            left and right tracking, patterning, sequencing, and reading readiness. Activities, music, movement,
            and crafts are a part of a total learning experience.
        </p>
    </div>
</div>
<div class="dividerVertical"></div>
<div class="logo-text curriculumOutBorder">
    <div class="curriculumInBorderTwo">
        <h2>Tuition and Pricing</h2>
        <p class="logo-text">
            Tuition is <span class="warn-words"><b>DUE IN CASH</b></span> and a receipt for income tax purposes will be provided.
        </p>
        <p class="left-text indent-text">
            <b>1.</b> Tuition is <span class="just-money">$180.00</span> per month for 2 days per week or
            <span class="just-money">$360.00</span> a month for 4 days per week, payable the week of the first.
            In addition there is a <span class="just-money">$50.00</span> registration fee  for the 2 day program or
            <span class="just-money">$100.00</span> registration fee for the 4 day program per year,(non refundable).
            The monthly rate is discounted from our daily rate of <span class="just-money">$35.00</span> per day.
        </p>
        <p class="left-text indent-text">
            <b>2.</b> Tuition not received before the 10th of the month is subject to an automatic <span class="just-money">$25.00</span> late fee.
        </p>
        <p class="left-text indent-text">
            <b>3.</b> You are responsible for the entire month’s tuition even if you are on vacation or your child is sick.
            <b>(<span class="warn-words">No exceptions</span>.)</b>
        </p>
        <p class="left-text indent-text">
            <b>4.</b> Tuition has been calculated upon the amount of days school is in session, which includes long and short months.
            Tuition will not be discounted during short months. We also follow the Acton/Agua Dulce School District schedule,
            except for the months of September and June, including legal and local holidays.
        </p>
    </div>
</div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/curriculum"><b>Curriculum</b></a></li>
</ul>
</body>
</html>