<!DOCTYPE html>
<html lang = "en" >
<head>
    <link rel="stylesheet" href="home.css">
    <title>Bright Horizons Preschool of Acton</title>
</head>
<body>
<div class="margin-auto clouds">
    <div id="image">
        <div class="logo-image">
            <img src="images/cloudsleft.jpg" alt="clouds" />
        </div>
        <div class="logo-image">
            <img src="images/rainbow.jpg" alt="rainbow" />
        </div>
        <div class="logo-image">
            <img src="images/cloudsright.jpg" alt="clouds" />
        </div>
    </div>
    <div class="logo-text margin-auto homeTitle">
        <b>Bright Horizons Preschool of Acton</b>
    </div>
</div>
<ul>
    <li><a href="/"><b>Home</b></a></li>
    <li><a href="/curriculum">Curriculum</a></li>
    <%if (!authenticated) { %>
    <li><a href="/register">Register</a></li>
    <li class="topNavLi">
        <form class="logo-text" method="POST" action="/getUser">
            Username:
            <input type="text" maxlength='40' name="username" />
            Password:
            <input type="password" name="password" />
            <input class="loginButton" type="submit" value="Login" />
        </form>
    </li>
    <% } else if(role == 'parent') { %>
    <li> <a href="/grades">Your Child's Grades</a></li>
    <li><a href="/logout">Logout</a></li>
    <% } else if(role == 'teacher') {%>
    <li> <a href="/class">Class</a></li>
    <li> <a href="/gradesTeacher">Edit Grades</a></li>
    <li> <a href="/addStudent">Add Student</a></li>
    <li> <a href="/removeStudent">Remove Student</a></li>
    <li><a href="/logout">Logout</a></li>
    <% } %>
</ul>
<div class="logo-text fliesRight">
    <div class="logo-image">
        <img src="images/fliesright.jpg" alt="Butterflies" />
    </div>
    <div class="logo-image margin-auto">
        <div class="logo-text margin-auto homeInBorder">
            <h1 class="font-thin">"A Place Where Children Can See How Fun Learning Can Be!"</h1>
            <p class="text-logo">
                <b>Bright Horizons Preschool of Acton</b> is a privately owned and operated neighborhood preschool that is well known in the community.
                We <b><i>strive</i></b> to help each child develop and cultivate his or her own creativity through a proven program for higher academics.
                We <b><i>aim</i></b> to grow every child’s confidence since it is a key factor in their own development and learning.
                We <b><i>ensure</i></b> a loving and enthusiastic environment so that every child can achieve great success.</p>
            <h1 class="font-thin">Providing a higher standard of learning for over 20 years.</h1>
        </div>
    </div>
    <div class="logo-image">
        <img src="images/fliesleft.jpg" alt="Butterflies" />
    </div>
</div>

<ul>
    <li><a href="/"><b>Home</b></a></li>
    <li><a href="/curriculum">Curriculum</a></li>
    <%if (!authenticated) { %>
    <li><a href="/register">Register</a></li>
    <li class="topNavLi">
        <form class="logo-text" method="POST" action="/getUser">
            Username:
            <input type="text" name="username" />
            Password:
            <input type="password" name="password" />
            <input class="loginButton" type="submit" value="Login" />
        </form>
    </li>
    <% } else if(role == 'parent') { %>
    <li> <a href="/grades">Your Child's Grades</a></li>
    <li><a href="/logout">Logout</a></li>
    <% } else if(role == 'teacher') {%>
    <li> <a href="/class">Class</a></li>
    <li> <a href="/gradesTeacher">Edit Grades</a></li>
    <li> <a href="/addStudent">Add Student</a></li>
    <li> <a href="/removeStudent">Remove Student</a></li>
    <li><a href="/logout">Logout</a></li>
    <% } %>
</ul>
</body>
</html>




